{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="blog_section layout_padding">
    <div class="container">
       <div class="row">
          <div class="col-sm-12">
             <div class="blog_taital_main">
                <h1 class="blog_taital">About Us</h1>
                <hr class="blog_border_main">
             </div>
          </div>
       </div>
    </div>
    <div class="blog_section_2">
       <div class="container-fluid">
           <div class="row">
              <div class="col-md-6">
                <div class="blog_text_main">
                   <p class="blog_text">Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web</p>
                   <div class="readmore_bt"><a href="{% url 'contact_us' %}">Contact us</a></div>
                </div>
             </div>
             <div class="col-md-6">
                <div class="blog_img"><img src="{% static 'images/blog-img.png' %}"></div>
             </div>
          </div>
       </div>
    </div>
 </div>

{% endblock %}